@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400&display=swap');
div{
    font-family: 'DM Sans', sans-serif;
}
.navbar{
    padding-top: 40px;
    padding-bottom: 40px;
    justify-content: center;
    display: flex;
}
.container-fluid{
    display: flex;
    justify-content: space-between;
    width: 1100px;
    align-items: center;
}
.logo{
    width:200px;
     height:29px;
}
.four-colour{
    color: rgb(224, 1, 1);
}
.dev-colour{
    color: rgb(110, 110, 210);
}
.phone-logo-style{
    width: 30px;
    height: 30px;
    background-color:rgb(110, 110, 210) ;
    margin-right: 5px;
}
.nav-phone{
    display: flex;
}
.nav-btn{
    margin-top: -32px;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 20px;
}
.nav-link{
    color: black;
    font-weight: 500;
    font-size: 15px;

}
.nav-link:hover{
    color: rgb(252, 48, 48);
}
@media (max-width: 900px) {
    .navbar-nav{
        display: flex;
        flex-direction: row;
    }
    .nav-btn{
        margin-top: 0px;
    }
    .container-fluid{
         width: 900px;
    }
}
@media (max-width: 450px) {
    .navbar-nav{
        display: flex;
        flex-direction: row;
    }
    .nav-btn{
        margin-top: 0px;
    }
    .container-fluid{
         width: 1300px;
    }
    
.header {
    gap: 100px;
    display: flex;
    margin-top: 70px;
    padding-bottom: 80px;
    flex-direction: column;
    align-items: center;
}

}