@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400&display=swap');
div{
    font-family: 'DM Sans', sans-serif;
}
.body{
    padding: 0px 100px 0px 100px;
    background-color: #f3f6fd;
}

@media (min-width: 1200px){
.container{
    max-width: 1260px;
    padding: 0%;
    margin: 0%;
}
}

.headerbtn1{
    border: none;
    background: #f3c9ce;
    padding: 10px 15px 7px 15px;
    background-color: #FFE0CC;
    border-radius: 50px 50px 50px 50px;
    color: #C51A31;
    font-size: 12px;
    font-weight: 500;
}
.header-heading{ 
    font-weight: 600;
    font-size: 52px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.header{
    display: flex;
    margin-top: 70px;
    padding-bottom: 80px;
}
.header-text{
    width: 50%;
    padding-right: 50px;
}
.header-para{
   font-size: 15px;
   opacity: 60%;
}
.header-btn{
    display: flex;
    justify-content: center;
    gap:50px;
    margin-top: 40px;
}
.standard-btn{
    fill: #FFF;
    color: #FFF;
    background-color: #C51A31;
    border-radius: 50px;
    border: none;
    padding: 15px 40px 15px 40px;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    gap: 10px;
    transition: 0.3s;
}
.standard-btn:hover{
    margin-top: -7px;
    background-color: #5eb6e2;
    transition: 0.3s;
}
.intro-btn{
    color: #000000;  
    background: none;
    border: none;
    font-size: 18px;
    font-weight: 500;
    box-shadow: none;
    padding-top: 15px;
    margin-left: -90px;
}
.watch-intro-btn{
    display: flex;
    gap: 90px;
}
.header-pic{
    width: 50%;
    display: grid;
    justify-content: center;
}
.circle1{
    border: 60px solid #3c3569;
    padding: 5px;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: #50497b;
}
.dotted-boder{
    padding: 50px;
    border-radius: 50%;
    border: 1px dashed black;
}
.header-pic-img{
    margin-top: -645px;
    margin-left: 120px;
}
.image-container{
    display: flex;
}
.image-container1{
    width: 40px;
    height: 40px;
    margin-left: 0px;
    border: 1px solid white;
    border-radius: 50%;
}
.image-container2{
    width: 40px;
    height: 40px;
    margin-left: -7px;
    border: 1px solid white;
    border-radius: 50%;
}
.text-container{
    font-weight: bold;
    font-size: 14px;
    align-self:center;
}
.section{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
/* -------------------------section 1------------------------------------------- */
.section1{
    width: 1000px;
    padding: 30px 30px 40px 30px;
    margin: 50px 0px 50px 0px;
    border-radius: 30px;
    background-color: #29204c;
    color: white;  
}
.section1 h5{
    font-weight: bolder;
}
.col1{
    margin-left: 30px;
    padding-top: 40px;
}
.col2{
    border-left:2px solid #312a52;
    padding-left: 40px;
}
.col3{

    background-color: #ff6400;
    margin-top: -70px;
    margin-bottom: -70px;
    border-radius: 20px;
    padding: 40px 30px 0px 30px;
}
.section1 p{
    font-size: 14px;
    opacity: 50%;
}
/* -------------------------section 2------------------------------------------- */
.section2{
    display: flex;
    margin: 140px 80px 100px 60px;
    gap: 100px;
    padding: 0px 30px 0px 30px;
}
.section2-picsection{
  justify-content: center;
  width: 50%;
}
.section2-circle{
    background-color: #fec29b;
    width: 500px;
    height: 500px;
    border-radius: 50%;
}
/* .section2-piC{
   margin-top:-65px;
   margin-left:55px;
} */
.section2-text{
    width: 50%;
}
.section2-text h2{
    font-weight:bold;
    padding-top: 15px;
}
.section2-text p{
    opacity: 70%;
    padding-top: 15px;
    font-size: 16px;
}
.section2-text-good-mark{
    
    border: 14px solid #efe6fe;
    border-radius: 50%;
}
.section2-text-txt h3{
    font-size: 18px;
    font-weight: bold;
}
.section2-text-txt p{
    font-size: 15px;
    padding: 0px;
}
.section2-text-2nd-div{
    background-color: #efe6fe;
    padding: 20px 20px 20px 40px;
    border-radius: 50px;
}
.section2-text-2nd-div svg{
    border: 14px solid white;
}
/* -----------------------------section 3-------------------------- */
 .section3 {
    padding: 100px 30px 0px 30px;
    color: white;
    background-color: #1d193b;
    align-items: center;
    flex-flow: column;
    display: flex;
    margin-bottom: 50px;
}
.section3 h2{
    padding-top: 15px;
}
.section3 p{
    padding-top: 15px;
    width: 450px;
    text-align: center;
    font-size: 14px;
    opacity: 60%;
}
.section3-boxs{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    padding: 50px;
}
.section3-box{
    width: 30%;
    border-radius: 20px;
    background: linear-gradient(to right, #f7f7ff 50%, #ffffff 50%);
}
.section3-box6{
    width: 30%;
    border-radius: 20px;
    background: linear-gradient(to right, #ffe1cd 50%, #ffffff 50%);
}
.section3-box:hover .section3-readmore-butn{
    color: #fe6401;
    opacity: 100%;
}
.section3-box6:hover .section3-readmore-butn{
    color: #fe6401;
    opacity: 100%;
}
.section3-box:hover{
    background: linear-gradient(to right, #f7f7ff 50%, #f7f7ff 50%);
}
.section3-box6:hover{
    background: linear-gradient(to right, #ffe1cd 50%, #ffe1cd 50%);
}
.section3-box6 button{
    background-color: #ffe1cd;
}
.section3-box:hover .svg-hover{
    stroke: #fe6401;
    opacity: 100%;
}
.section3-box6:hover .svg-hover{
    stroke: #fe6401;
    opacity: 100%;
}
.section3-box-content{
    padding: 40px;
    color: black;
}
.section-img-div{
    width: 60px;
    height: 60px;
}
.section3-box-content h3{
    font-size: 18px;
    padding-top: 7px;
    font-weight: bold;
}
.section3-box-content p{
    font-size: 14px;
    padding-top: 7px;
    display: inline;
}
.section3-readmore-butn{
    border: none;
    background-color: #f7f7ff;
    font-size: 14px;
    font-weight: bold;
    opacity: 50%;
    margin-top: 10px;
    display: flex;
    gap: 7px;
}
/* --------------------------section4-------------------- */
.section4{
   margin-bottom: 50px;
}
.section4-header{
    background-color: #141025;
    padding: 60px 100px 250px 100px;
    display: flex;
}
.section4-heading{
width: 50%;
}
.section4-text{
    width: 50%;
}
.section4-heading h3{
    padding-top: 20px;
    font-size: 32px;
    color: white;
    font-weight: bold;
}
.section4-text p{
 color: white;
 opacity: 50%;
}
.veiwallproduct{
fill: #FFF;
color: #FFF;
background-color: #1e70af;
border-radius: 50px;
border: none;
padding: 10px 30px 10px 30px;
font-size: 15px;
font-weight: bold;
transition: 0.3s;
margin-top: 10px;
}
.veiwallproduct:hover{
    margin-top: 4px;
    margin-bottom: 6px;
    background-color: #C51A31;
    transition: 0.3s;
}
.section4-pics-section{
    padding: 0px 30px 0px 30px;
    margin-top: -170px;
    display: flex;
    gap: 30px;
    justify-content: center;

}
.section4-pic1{
    background-image: url('https://fourdevs.net/wp-content/uploads/2023/10/IMG-20231002-WA0093.jpg');
    background-size: cover; /* Adjust as needed */
    background-position: center;
    width: 275px;
    height: 400px;
    border-radius: 10px;
}
.section4-pic2{
    background-image: url('https://fourdevs.net/wp-content/uploads/2023/09/WhatsApp-Image-2023-09-29-at-18.27.49.jpg');
    background-size: cover; /* Adjust as needed */
    background-position: center;
    width: 275px;
    height: 400px;
    border-radius: 10px;
}
.section4-pic3{
    background-image: url('https://fourdevs.net/wp-content/uploads/2023/09/51-1.png');
    background-size: cover; /* Adjust as needed */
    background-position: center;
    width: 275px;
    height: 400px;
    border-radius: 10px;
}
.section4-pic4{
    background-image: url('https://fourdevs.net/wp-content/uploads/2023/09/service-5.jpg');
    background-size: cover; /* Adjust as needed */
    background-position: center;
    width: 275px;
    height: 400px;
    border-radius: 10px;
}
.sectio4-pics1text,.sectio4-pics2text, .sectio4-pics3text, .sectio4-pics4text{
   display: none;
   transition: 1s;
}
.sectio4-pics1text,.sectio4-pics2text,.sectio4-pics3text,.sectio4-pics4text{
    color: white;
    padding: 200px 30px 0px 30px;
    opacity: 100%;
    transition: 1s;
   }

.section4-pic1:hover .sectio4-pics1text{
    width: 275px;
    height: 400px;
   display: block;
   background-color: #fc8e37;
   opacity: 85%;
   transition: 1s;
   border-radius: 10px;
}
.section4-pic2:hover .sectio4-pics2text{
    width: 275px;
    height: 400px;
   display: block;
   background-color: #fc8e37;
   opacity: 85%;
   border-radius: 10px;
   transition: 1s;
}
.section4-pic3:hover .sectio4-pics3text{
    width: 275px;
    height: 400px;
   display: block;
   background-color: #fc8e37;
   opacity: 85%;
   transition: 1s;
   border-radius: 10px;
}
.section4-pic4:hover .sectio4-pics4text{
    width: 275px;
    height: 400px;
   display: block;
   transition: 1s;
   background-color: #fc8e37;
   opacity: 85%;
   border-radius: 10px;
}
/* ------------------------------------------------------section 5----------------------- */
.section-5{
    padding: 80px 100px 40px 120px;
    display: flex;
    gap: 100px;
}
.section-5-firstdiv{
    width: 50%;
    padding-top: 70px;
}
.section-5-firstdiv h2{
    font-weight: bold;
    padding-top: 20px;
}
.section-5-firstdiv p{
    opacity: 60%;
    padding-top: 20px;
}
.section-5-readmorebtn{
    fill: #FFF;
    color: #FFF;
    background-color: #29204c;
    border-radius: 50px;
    border: none;
    padding: 10px 30px 10px 30px;
    font-size: 15px;
    font-weight: bold;
    transition: 0.3s;
    margin-top: 10px;
    }
    .section-5-readmorebtn:hover{
        margin-top: 4px;
        margin-bottom: 6px;
        background-color: #C51A31;
        transition: 0.3s;
    }
  .section-5-2nddiv{
    width: 50%;
    display: block;
  }  
  .section-5-boxs{
    position: relative;
    z-index: 2;
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    align-content: center;
  }

  .section-5-box1{
    background-color: #ffe1cd;
    width: 230px;
    height: 170px;
    border-radius: 10px;
  }
  .section-5-box2{
    border-radius: 10px;
    background-color: #efecfe;
    width: 230px;
    height: 170px;
    border: 10px;
  }
  .crcle{
    margin-left: 115px;
    margin-top: 115px;
    position: absolute;
    border-radius: 50%;
    border: 1px dashed black;
    width: 275px;
    height: 275px;
  }
 /* ------------------------------------section 6---------------------- */
 .section-6{
    padding-left: 100px;
    padding-right: 100px ;
    padding-bottom: 100px;
 }
 .section-6-images{
    display: flex;
    justify-content: space-evenly;
 }
 .section-6-imge{
    width: 170px;
    height: 40px;
    opacity: 60%;
 }
 .section-6-imge:hover{
    opacity: 100%;
 }

.section-6-line{
    margin-bottom: 60px;
    border: 1px solid #efecfe;
}
/* ------------------------------section 7------------------ */
.section-7{
    background-color: #141124;
    padding: 60px 110px 90px 110px;
}
.section-7-header{
    display: flex;
    padding-top: 50px;
    gap: 50px;
}
.section-7-header1{
    width: 50%;
}
.section-7-header1 h2{
    font-weight: bold;
    padding-top: 20px;
    color: white;
}
.section-7-header2 p{
    opacity: 60%;
    color: white;
    padding-top: 20px;
}
.section-7-header2{
   width: 50%;
}
.section-7-body{
    display: flex;
padding-top: 30px;
gap:80px;
}
.section7-div1{
    width: 300px;
    padding-top: 40px;
}
.section-7-textheadings{
    width: 210px;
    padding: 7px;
  display: flex;
  align-items: center;
  color: #8c8a99;
  font-size: 15px;
}
.section7-perdiv{
    color: #ff6400 ;
    font-size: 22px;
   
}
.section7-div2{
    width: 300px;
    height: 320px;
    background-color: #eeecff;    
    border-radius: 20px;
}
.section7-div3 h4{
      color:#ff6400;
      font-size: 18px;
      padding-top: 40px;
      font-weight: bold;
}
.section7-div2 img{
  width: 300px;
  height: 320px;
}
.section7-div3-text{
    color: white;
    opacity: 60%;
    margin-top: 25px;
}
.section7-div3-text p1{
    font-weight: bold;
}
.section7-div3-text div{
    margin-top: 10px;
}
.section7-div3-comasvg{
    padding-right: 20px;
    padding-top: 20px;
}
/* ------------------------------section 8------------------ */
.section8{
    flex-direction: column;
    display: flex;
    padding: 100px;
    align-items: center;
}
.section-8-boxs{
    padding-top: 40px;
  display: flex;
  flex-direction: row;
  gap: 35px;
}
.section-8-box img{
   width: 340px;
  border-radius: 15px;
   height: 240px;
}
.section-8-box h5{
    font-weight: bold;
    padding-top: 15px;
 }
 .section-8-box h5:hover{
   color: #e37559;
   cursor: pointer;
 }
 .section-8-box-date{
    opacity: 60%;
    font-size: 14px;
    padding-bottom: 7px;
 }
 .section-8-box p{
    opacity: 60%;
    font-size: 15px;
 }
 .section8-readmore-butn{
    border: none;
    background-color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
    display: flex;
    gap: 7px;
}
.section8-readmore-butn:hover{
    color: #fe6401;
    opacity: 100%;
}
.section8-readmore-butn:hover .svg-hover{
    stroke: #fe6401;
    opacity: 100%;
}

